$defaultFontSize:16px;

$primary-color:#0098d3;
$primary-color-hover:#0280b3;

$menu-color:#100e13;

$font-light:#fff;
$font-grey-light:#e8e8e8;
$font-grey:#808080;
$font-grey-dark:rgb(112, 112, 112);
$font-dark-light:#252527;
$font-dark:#000;

$border-light:#fff;
$border-grey-light:#e8e8e8;
$border-grey:#808080;
$border-grey-dark:#595959;
$border-dark-light:#252527;
$border-dark:#000;

$background-light:#fff;
$background-grey-light:#e8e8e8;
$background-grey:#808080;
$background-grey-dark:#595959;
$background-dark-light:#252527;
$background-dark:#000;
$background-success:#82f00d56;
$background-error:#ff00001f;

$success:#84b84c;
$error:#f00;
$warning:orange;

//responsive down size
$media-brackpoint-down-xs:413.98px;
$media-brackpoint-down-sm:573.98px;
$media-brackpoint-down-md:767.98px;
$media-brackpoint-down-lg:991.98px;
$media-brackpoint-down-xl:1199.98px;


//respomsive up sizeup
$media-brackpoint-up-xs:320px;
$media-brackpoint-up-sm:576px;
$media-brackpoint-up-md:768px;
$media-brackpoint-up-lg:992px;
$media-brackpoint-up-xl:1200px;

